 .carousel-item img {
      object-fit: cover;
     
  }

 .breadcrumb {      
      margin: 1em 0 1em 0;
      padding-left: 1em;
  }px

.no-dec {
    text-decoration: none;
}

#image-1 {
    width: 34rem;
    height: 25em;
    object-fit: cover;
}

#navbarDropdown::after {        /* Remove the arrow after button */
    content: none;
}

#dist {
    background-image: url("../images/manyu-varma-ef3A5EDR7Jk-unsplash.jpg");
}

.maintxt {
    background-image: url(../images/pic-dt-1.jpg);
    background-size: cover;
    height: 14rem;
}

.hov:hover {
    opacity: 0.6 ;
    border: 4px solid black;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 17rem;
    background-color: #555;
    color: #fff;
    font-size: smaller;
    line-height: 1rem;
    border-radius: 6px;
    padding: 0.5rem 0.5rem 0 0.5rem ;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 200%;
    margin-left: -5rem;
    opacity: 0.9;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 21%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

 #mobilePopup {
    visibility: hidden;
    width: 17rem;
    background-color: #555;
    color: #fff;
    font-size: smaller;
    line-height: 1rem;
    border-radius: 6px;
    padding: 0.5rem 0.5rem 0 0.5rem ;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 200%;
    margin-left: -5rem;
    opacity: 0.9;
  }