 .carousel-item img {
      object-fit: cover;
     
  }

 .breadcrumb {      
      margin: 1em 0 1em 0;
      padding-left: 1em;
  }px

.no-dec {
    text-decoration: none;
}

#image-1 {
    width: 34rem;
    height: 25em;
    object-fit: cover;
}

#navbarDropdown::after {        /* Remove the arrow after button */
    content: none;
}

#dist {
    background-image: url("../images/manyu-varma-ef3A5EDR7Jk-unsplash.jpg");
}

.maintxt {
    background-image: url(../images/pic-dt-1.jpg);
    background-size: cover;
    height: 14rem;
}

.hov:hover {
    opacity: 0.6 ;
    border: 4px solid black;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 17rem;
    background-color: #555;
    color: #fff;
    font-size: smaller;
    line-height: 1rem;
    border-radius: 5px;
    border: 3px solid #59359a;
    padding: 0.5rem 0.5rem 0 0.8rem ;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 200%;
    margin-left: -5rem;
    opacity: 0.9;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 21%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

#mobilePopup {
    visibility: hidden;
    width: 14rem;
    background-color: #555;
    color: #fff;
    font-size: smaller;
    /* font-weight: bold; */
    line-height: 1rem;
    border-radius: 5px;
    margin: 1px;
    padding: 0.5rem 0.5rem 0 0.8rem ;
    position: absolute;
    z-index: 1;
    bottom: 2rem;
    left: 1.7rem;
    margin-left: -5rem;
    border: 3px solid #59359a;
    opacity: 0.85;
  }

  .mobPopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  #mobilePopup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 21%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  /* Change Password Popup Bullet */

  .greenTick::before {
    content: "\2713"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(11, 245, 11); 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }

  #userPassRepeat::after {
    content: "\2713"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(11, 245, 11); 
    font-weight: bold; 
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }

  .checkSymbol {
    color: rgb(0, 199, 0); 
    font-weight: 900;
    font-size: large;
    visibility: hidden;
  }